target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/

### Minio ###
minio-data

### Hadoop ###
hadoop

####################################
# Big Data Project – Data folders
####################################

# Raw & processed data (DO NOT PUSH)
data/raw/*.parquet
data/external/*
data/interim/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

####################################
# Spark / Big Data runtime
####################################
spark-warehouse/
derby.log

####################################
# Python (Exercise 5)
####################################
__pycache__/
*.pyc
.venv/
.env

####################################
# Jupyter
####################################
.ipynb_checkpoints/

####################################
# Logs
####################################
*.log

# IntelliJ full config
.idea/

# MinIO client binary
mc
